@media  (max-width:992px) {
    .ul__list{
        gap: 10px;
        flex-direction: row;
    }

    header{
        gap: 20px;
        width: 100%;
        height: 80px;
        
    
    }
    .logo{
        width: 80px;
    }

    .logo__conteiner p {
        display: none;
    }

    .link{
        font-size: 18px;
    }

   nav{
    gap: 20px;
   }

   .sesion{
    margin-left:80px ;
   }

   #hero__section{
    width: 100%;
    background-size: contain;
    height: 425px;
    margin-top: 80px;
   }

   .conteiner__about{
    flex-direction: column;
    align-items: center;
   }

   .conteiner-cards{
    
    justify-content: center;
   }

   #section-form{
    justify-content: center;
    
   
   }

 .conteiner-redes{
    justify-content: center;
 }

.hr hr{
    width: 390px;
}

/* ingresar */

.footer-mail{
    /* flex-direction: column; */
    width: 100%;

}

footer{
    gap: 75px;
    padding: 40px;
}

}

@media (max-width: 576px){
    .ul__list{
        background-color: #213243;
        width: 20%;
        height: calc(100vh- 150px);
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;

    }

    nav svg {
        display: block;
        
    }

    #toggle-menu:checked ~ .ul__list {
        display: flex;

    }

    .sesion{
        /* display: none; */
        margin-left: 0;
        text-align: center;
    }

    .sesion a {
        padding: 1px;
    }

    header {
        justify-content: space-between;
    }

    .logo__conteiner{
        padding-left: 30px;
    }

    .menu-conteiner{
        padding-right: 30px;

    }

    #hero__section{
        width: 100%;
        height: 248px;
        margin-top: 80px;

    }

    #section-form{
        width: 100%;
    }


    .input-name input{
        width: 250px;

    }

    .input-mensaje textarea {
        width:480px ;
    }

    .hr hr{
        width: 200px;
    }

    /* ingresar */
    .footer-ingresar{
        display: none;
    }

    .iniciar-sesion{
        margin-bottom: 40px;
    }
 
}
/* samsung note 10 */
@media (max-width:500px) {

    #hero__section{
        height: 177px;
        width: 100%;
       
    }

    #about img {
        display: none;
        
    }

    .card-descripcion{
        flex-direction: column;
    }


    .hr  {
        display: none;
    }

    .conteiner-form{
        width:-100px ;
        
    }

    .input-name input {
        width: 180px;
    }

    .input-mensaje textarea {
        width: 350px;
    }

    .footer-conteiner{
        flex-direction: column;
        gap: 30px;
    }


}